<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootStarterKitApplicationDockerfile" type="docker-deploy" factoryName="dockerfile" server-name="Docker">
    <deployment type="dockerfile">
      <settings>
        <option name="containerName" value="springboot-starterkit" />
        <option name="portBindings">
          <list>
            <DockerPortBindingImpl>
              <option name="containerPort" value="8080" />
              <option name="hostPort" value="8080" />
            </DockerPortBindingImpl>
          </list>
        </option>
        <option name="sourceFilePath" value="Dockerfile" />
      </settings>
    </deployment>
    <method v="2" />
  </configuration>
</component>