name: docker-build
on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  docker:
    strategy:
      fail-fast: true
      matrix:
        build:
          - platform: linux/amd64
            runner: ubuntu-latest
          - platform: linux/arm64
            runner: ubuntu-24.04-arm
    uses: josephrodriguez/github-workflow/.github/workflows/docker-build-release.yaml@38b40873a2f3d9c67b050f74dc676dca8a0962b9
    with:
      github_runner: ${{ matrix.build.runner }}
      docker_image_name: ${{ github.repository }}
      docker_platform: ${{ matrix.build.platform }}
      docker_registry_url: ghcr.io
      trivy_enabled: true
      trivy_image_reference: ${{ github.repository }}
    secrets:
      DOCKER_REGISTRY_USERNAME: ${{ github.actor }}
      DOCKER_REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}