name: docker-build
on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  docker:
    strategy:
      fail-fast: true
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
    uses: josephrodriguez/github-workflow/.github/workflows/docker-build-release.yaml@7056cf1ec83b1b5e4a0ca9c7e19da89d1c882c08
    with:
      docker_image_name: ${{ github.repository }}
      docker_platform: ${{ matrix.platform }}
      docker_registry_url: ghcr.io
    secrets:
      DOCKER_REGISTRY_USERNAME: ${{ github.actor }}
      DOCKER_REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}