name: ghcr-release
on:
  push:
    tags:
      - '*'
jobs:
  docker:
    strategy:
      fail-fast: true
      matrix:
        build:
          - runner: ubuntu-24.04-arm
            platform: linux/arm64
          - runner: ubuntu-latest
            platform: linux/amd64
    uses: josephrodriguez/github-workflow/.github/workflows/docker-build-release-by-digest.yaml@cba70701fc9ea301abe63cb0a30cb81cb3c7c8eb
    with:
      github_runner: ${{ matrix.build.runner }}
      docker_image_name: ghcr.io/${{ github.repository }}
      docker_platform: ${{ matrix.build.platform }}
      docker_push: true
      docker_digest_name: digests-jvm
      docker_registry_url: ghcr.io
    secrets:
      DOCKER_REGISTRY_USERNAME: ${{ github.actor }}
      DOCKER_REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  push:
    uses: josephrodriguez/github-workflow/.github/workflows/docker-push-release-by-digest.yaml@7056cf1ec83b1b5e4a0ca9c7e19da89d1c882c08
    permissions:
      packages: write
      contents: read
    needs:
      - docker
    with:
      docker_registry_url: ghcr.io
      docker_image_name: ghcr.io/${{ github.repository }}
      docker_image_tags: |
        type=raw,value={{date 'YYYYMMDDhhmm'}}-{{sha}}
        type=semver,pattern={{version}}
        type=semver,pattern={{major}}.{{minor}}
        type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
      docker_digest_pattern: digests-jvm-*
    secrets:
      DOCKER_REGISTRY_USERNAME: ${{ github.actor }}
      DOCKER_REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}        