name: ghcr-release
on:
  push:
    tags:
      - '*'
jobs:
  docker:
    strategy:
      fail-fast: true
      matrix:
        version:
          - jvm
          - aot
        platform:
          - linux/amd64
          - linux/arm64
    uses: josephrodriguez/github-workflow/.github/workflows/docker-build-release-by-digest.yaml@cba70701fc9ea301abe63cb0a30cb81cb3c7c8eb
    with:
      docker_digest_name: digests-${{ matrix.version }}
      docker_push_enabled: true
      docker_file_name: "./Dockerfile.${{ matrix.version }}"
      docker_image_name: ghcr.io/${{ github.repository }}
      docker_platform: ${{ matrix.platform }}
      docker_registry_url: ghcr.io
    secrets:
      DOCKER_REGISTRY_USERNAME: ${{ github.actor }}
      DOCKER_REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  push:
    strategy:
      fail-fast: true
      matrix:
        version:
          - jvm
          - aot
    uses: josephrodriguez/github-workflow/.github/workflows/docker-push-release-by-digest.yaml@7056cf1ec83b1b5e4a0ca9c7e19da89d1c882c08
    permissions:
      packages: write
      contents: read
    needs:
      - docker
    with:
      docker_registry_url: ghcr.io
      docker_image_name: ghcr.io/${{ github.repository }}
      docker_image_tags: |
        type=raw,value=${{ matrix.version }}-{{date 'YYYYMMDDhhmm'}}-{{sha}}
        type=semver,pattern={{version}}
        type=semver,pattern={{major}}.{{minor}}
        type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
      docker_digest_pattern: digests-${{ matrix.version }}-*
    secrets:
      DOCKER_REGISTRY_USERNAME: ${{ github.actor }}
      DOCKER_REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}        