name: gradle-build
on:
  push:
    branches:
      - 'feature/*'
      - 'release/*'
      - 'fix/*'
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  gradle:
    uses: josephrodriguez/github-workflow/.github/workflows/java-gradle-build.yaml@66fe29258cfcf7c00a1a75b9e75f1a42b888892d
    with:
      cache_gradle: true
      cache_sonar: true
      java_version: '25'
      java_distribution: 'temurin'
      gradle_enable_scan: true
      gradle_enable_sonar: true
      gradle_log_level: info
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  dependabot:
    needs: [gradle]
    permissions:
      contents: write
      pull-requests: write
    uses: josephrodriguez/github-workflow/.github/workflows/dependabot-merge-pull-request.yaml@e18a680e2d4fa4780817db31b4fc91867ed72581
    secrets:
      AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}      
