name: gradle-build
on:
  push:
    branches:
      - 'feature/*'
      - 'release/*'
      - 'fix/*'
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  gradle:
    uses: josephrodriguez/github-workflow/.github/workflows/java-gradle-build.yaml@7b5e97ad78ba7232ccfb92d8b50c1ee02517bdbc
    with:
      cache_gradle: true
      cache_sonar: true
      java_version: '25'
      java_distribution: 'temurin'
      gradle_enable_scan: true
      gradle_enable_sonar: true
      gradle_log_level: info
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  dependabot:
    needs: [gradle]
    permissions: write-all
    uses: josephrodriguez/github-workflow/.github/workflows/dependabot-merge-pull-request.yaml@cba70701fc9ea301abe63cb0a30cb81cb3c7c8eb
    secrets:
      AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}      
