name: Maven Package

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4.1.0

    - id: vars
      name: Setup job variables      
      run: |
        echo "::set-output name=sha8::$(echo ${{ github.sha }} | cut -c1-8)"

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn --batch-mode clean package --file pom.xml "-Dartifact.version=${{ steps.vars.outputs.sha8 }}"
      
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        directory: ./target/jacoco-report
        flags: unittests
        name: codecov-umbrella
        verbose: true
